body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    max-width: 90%; 
    max-height: 90%;
    object-fit: contain;
    border-radius: 15px; 
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    transition: transform 0.5s ease, opacity 0.5s ease;
}


.container img:hover {
    transform: scale(1.05);
}


.container img.fade-out {
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}