body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* buat animasi bunga cihuy */
.flower {
    position: fixed; 
    top: -50px;       
    width: 30px;
    height: 30px;
    background-image: url('img/bunga-removebg-preview.png');
    background-size: cover;
    opacity: 0.8;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
}


@keyframes fall {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 0;
    }
    10% { opacity: 1; }
    100% {
        transform: translateY(110vh) translateX(20px) rotate(360deg);
        opacity: 0.8;
    }
}


/* end */

.container {
    z-index: 10;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    max-width: 90%; 
    max-height: 90%;
    object-fit: contain;
    border-radius: 15px; 
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    transition: transform 0.5s ease, opacity 0.5s ease;
}


.container img:hover {
    transform: scale(1.05);
}


.container img.fade-out {
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}